*{
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #FFF2F2;
  
}


.navbar{
  background-color: #2D336B;
  padding-right: 15px;
  padding-left: 15px;
  padding: 10px;
}

.navdiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main a{
  font-family: "Signika Negative", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 35px;
  color: #A9B5DF;
}

.main a:hover{
  color: #5e70be;
}


li{
  list-style: none;
  display: inline-block;
}

li a{
  font-family: "Signika Negative", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 20px;
  color: #A9B5DF;
  margin-right: 25px;
  padding: 16px;
  transition: color 0.2s ease; 
}

li a:hover{
  background-color: #7886C7;
  color: black;
}

.welcome{
  max-width: 600px;
  margin: 75px auto;
  padding: 10px;
  text-align:center;
}



.welcome p{
  margin-bottom: 30px;
  font-family: "Signika Negative", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 20px;
}

#main2 {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card {
  width: 25%;
  padding: 5px;
  border: 2px solid #000;
  border-radius: 8px;  
  box-shadow: 8px 8px 30px black;
}

/* Aplica a todas las imágenes dentro de una card */
.card img {
  display: block;
  margin: 0 auto; /* Centra la imagen horizontalmente */
}

#main2 h1{
  text-align: center;
  font-family: "Signika Negative", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 35px;
  margin-right: 25px;
  padding: 5px;
}


.context{
  position: relative;
  text-align: center;
}




#main2 p{
  text-align: center;
  font-family: "Signika Negative", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  padding: 5px;
}

#main2 a{
  color: black;
  transition: color 0.2s ease; 
}

#main2 a:hover{
  color: #7886C7;
}

footer p{
  text-align: center;
  font-family: "Signika Negative", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  padding-top: 25px;
  padding-bottom: -100px;
}


footer a{
  color: #7886C7;
  transition: color 0.3s ease; 
}



footer a:hover{
  color: black ;
}


